<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Loading..."
  type="ball-atom">
</ngx-spinner>

<!--<body class="nav-gradient-primary" >-->
<div style="margin-bottom: 2% ">
  <app-header></app-header>
</div>
<br>

<div class="container my-5 color" style="border-radius: 15px;">
    <mat-table #table [dataSource]="users" matSort>

      <ng-container matColumnDef="fullname" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> FullName </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="editingRowId === element.id">
            <mat-form-field style="height: 80%; width: 180px;margin-top: 5%;" >
              <mat-label>First name</mat-label>
              <input matInput type="text" [(ngModel)]="UserDetails.firstname" #firstname="ngModel"
                     required email placeholder="firstname">
              <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
              </mat-error>
            </mat-form-field>
             
            <mat-form-field style="height: 80%; width: 180px;margin-top: 5%;" >
              <mat-label>Last name</mat-label>
              <input matInput type="text" [(ngModel)]="UserDetails.lastname" #lastname="ngModel"
                     required email placeholder="lastname">
              <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
              </mat-error>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="editingRowId !== element.id">
            {{ element.data.firstname + ' ' + element.data.lastname }}
          </ng-container>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="editingRowId === element.id">
            <mat-form-field style="height: 80%; width: 180px;margin-top: 5%;" >
              <mat-label>Email</mat-label>
              <input matInput type="email" [(ngModel)]="UserDetails.email" #emailInput="ngModel"
                     required email placeholder="email">
              <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                                    <span *ngIf="emailInput.errors?.['required']">
                                        Email is required.
                                    </span>
                <span *ngIf="emailInput.errors?.['email']">
                                        Please enter valid Email.
                                    </span>
              </mat-error>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="editingRowId !== element.id">
            {{element.data.email}}
          </ng-container>
        </mat-cell>

      </ng-container>


<!--      <ng-container matColumnDef="phone">-->
<!--        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let element"> {{element.data.phone}} </mat-cell>-->
<!--      </ng-container>-->

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="editingRowId === element.id">

            <mat-form-field style="height: 80%; width: 180px;margin-top: 5%; " appearance="fill">
              <mat-label>Phone</mat-label>
              <input matInput type="text" [(ngModel)]="element.data.phone" maxlength="17"
                     minlength="17" appNumericInput (keydown)="element($event)" #phoneInput="ngModel"
                     required>
              <mat-error *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)">
                                    <span *ngIf="phoneInput.errors?.['required']">
                                        Phone Number is required.
                                    </span>
              </mat-error>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="editingRowId !== element.id">
            {{ element.data.phone }}
          </ng-container>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="role" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="editingRowId === element.id">
        <mat-form-field style="height: 80%; width: 180px;margin-top: 5%;">
          <mat-label>Role</mat-label>
          <mat-select name="role" [(ngModel)]="UserDetails.role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
            </ng-container>
          <ng-container *ngIf="editingRowId !== element.id">
            {{ getRoleFullName(element.data.role) }}
          </ng-container>
        </mat-cell>
      </ng-container>





      <ng-container matColumnDef="action">
        <mat-header-cell  mat-header-cell *matHeaderCellDef > Action </mat-header-cell >
        <mat-cell *matCellDef="let element">

          <button mat-raised-button [routerLink]="['/','edit',element.id]">Edit Data</button>
<!--          <ng-container *ngIf="element.id === editingRowId; else readOnly">-->
<!--            <a (click)="afterEdit()"><i class="fa fa-solid fa-check" style="color: #04ff00;"></i></a>-->
<!--          </ng-container>-->
<!--          <ng-template #readOnly>-->
<!--            <a (click)="onEdit(element)"><i class="fa fa-pencil-square-o px-2" style="color: #0058f0;"></i></a>-->
<!--          </ng-template>-->
<!--          <a (click)="onDeleteClick(element.id , element.data.userid)"><i class="fa fa-trash-o" style="color: #fa0000;"></i></a>-->
        </mat-cell>
         </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>
