<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Loading..."
  type="ball-atom">
</ngx-spinner>

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9 cardtopmargin">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>

                <form [formGroup]="loginForm">

                  <!--              <div class="form-group pt-3">-->
                  <mat-form-field class="example-full-width"  appearance="outline" style="width: 400px;">
                    <mat-label>Email Id</mat-label>
                    <input type="text" matInput formControlName="email" placeholder="email">
                    <mat-hint style="font-size: 12px" *ngIf="loginForm.controls['email'].dirty&&loginForm.hasError('required','email')" class="text-danger">* username is required </mat-hint>
                  </mat-form-field>


                  <mat-form-field appearance="outline" style="width: 400px;">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-icon style="font-size: 22px" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint style="font-size: 12px" *ngIf="loginForm.controls['password'].dirty&&loginForm.hasError('required','password')  " class="text-danger">* Password is required</mat-hint>
                  </mat-form-field>


                  <div class="form-inline ft mt-4">
                    <a id="forget" class="font-wight-bold text-decoration-none" [routerLink]="['/','forgotpass']">Forget Password?</a>
                  </div>
                  <hr>
                  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" style="width: 400px;" >Login</button>
                  <!--              <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block mt-4 w-100" >Login</button>-->
                  <div class="text-center pt-4 text-muted">Don't have account?<a id="signup" [routerLink]="['/','newsingup']" class="text-decoration-none" > Sign Up</a></div>
                </form>
                <div class="text-center py-3 otherOptions">
                  <a  target="_blank" class="px-2" ><img src="/assets/icons8-facebook-48.png" alt="Facebook" style="max-height: 40px"></a>
                  <a (click)="GoogleAuth()"><img src="/assets/icons8-google-94.png" alt="Google" style="max-height: 40px"></a>
                  <a target="_blank" class="px-2"><img src="/assets/icons8-github-50.png" alt="GitHub" style="max-height: 40px"></a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>



<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<!--</div>-->
